In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress

In [2]:
#read in all csv data files
fertility_df = pd.read_csv("Resources/Fertility.csv")
gdp_df = pd.read_csv("Resources/GDP per capita.csv")
life_expec_df = pd.read_csv("Resources/Life expectancy.csv")
happiness_df = pd.read_csv("Resources/Happiness.csv")
meat_df = pd.read_csv("Resources/Meat consumption.csv")
median_age_df = pd.read_csv("Resources/Median age.csv")
pop_growth_df = pd.read_csv("Resources/Population growth.csv")
sex_df = pd.read_csv("Resources/Sex-ratio.csv")
suicide_df = pd.read_csv("Resources/Suicide rate.csv")
urban_df = pd.read_csv("Resources/Urbanization rate.csv")

In [3]:
#merge data into one dataframe
fg_df = pd.merge(fertility_df,gdp_df, on='Country', how="outer")
fgl_df= pd.merge(fg_df, life_expec_df, on='Country', how="outer")
fglm_df = pd.merge(fgl_df, meat_df, on='Country', how="outer")
fglmm_df = pd.merge(fglm_df, median_age_df, on='Country', how="outer")
fglmmp_df = pd.merge(fglmm_df,pop_growth_df, on='Country', how="outer")
fglmmps_df = pd.merge(fglmmp_df,sex_df, on='Country', how="outer")
fglmmpss_df = pd.merge(fglmmps_df, suicide_df,on='Country', how="outer")
world_data = pd.merge(fglmmpss_df,urban_df,on='Country', how="outer")

C:\Users\aslig\AppData\Local\Temp/ipykernel_18204/1356300611.py:4: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ISO-code_x'} in the result is deprecated and will raise a MergeError in a future version.
  fglm_df = pd.merge(fgl_df, meat_df, on='Country', how="outer")
C:\Users\aslig\AppData\Local\Temp/ipykernel_18204/1356300611.py:6: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ISO-code_x'} in the result is deprecated and will raise a MergeError in a future version.
  fglmmp_df = pd.merge(fglmm_df,pop_growth_df, on='Country', how="outer")
C:\Users\aslig\AppData\Local\Temp/ipykernel_18204/1356300611.py:8: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ISO-code_x'} in the result is deprecated and will raise a MergeError in a future version.
  fglmmpss_df = pd.merge(fglmmps_df, suicide_df,on='Country', how="outer")

In [4]:
#delete duplicate columns
del world_data ["ISO-code_x"]
del world_data ["ISO-code_y"]

In [5]:
world_data.head()

,Country,Fertility,GDP per capita,Life expectancy,Meat consumption,Median age,Population growth,Sex-ratio,Suicide rate,Urbanization rate,ISO-code
0,Afghanistan,4.5,2182.0,64.5,17.3,27.4,2.41,1.03,6.4,26.0,AFG
1,Albania,1.6,14866.0,NaN,NaN,32.9,0.26,0.98,5.6,62.1,ALB
2,Algeria,3.0,16091.0,76.7,18.3,28.1,1.89,1.03,3.3,73.7,DZA
3,Andorra,1.3,NaN,81.8,NaN,44.3,0.63,1.06,NaN,87.9,AND
4,Angola,5.5,6763.0,60.8,19.0,15.9,3.12,0.95,8.9,66.8,AGO

In [6]:
happiness_df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266

In [7]:
#Using isnull() to select all rows with NaN under an entire DataFrame:
world_data[world_data.isnull().any(axis=1)]

,Country,Fertility,GDP per capita,Life expectancy,Meat consumption,Median age,Population growth,Sex-ratio,Suicide rate,Urbanization rate,ISO-code
1,Albania,1.6,14866.0,NaN,NaN,32.9,0.26,0.98,5.6,62.1,ALB
3,Andorra,1.3,NaN,81.8,NaN,44.3,0.63,1.06,NaN,87.9,AND
8,Aruba,1.9,NaN,NaN,NaN,39.3,0.44,0.90,NaN,43.7,ABW
19,Bermuda,1.6,NaN,NaN,NaN,43.4,0.37,0.94,NaN,100.0,BMU
25,Brunei,1.8,85011.0,75.7,NaN,30.2,1.40,0.96,4.5,78.3,BRN
...,...,...,...,...,...,...,...,...,...,...,...
739,Wallis and Futuna,NaN,NaN,NaN,NaN,32.2,NaN,1.04,NaN,NaN,NaN
740,Western Sahara,NaN,NaN,NaN,NaN,21.1,NaN,0.99,NaN,86.8,ESH
741,Gaza Strip,NaN,NaN,NaN,NaN,NaN,NaN,1.02,NaN,NaN,NaN
742,"Saint Helena, Ascension and Tristan da Cunha",NaN,NaN,NaN,NaN,NaN,NaN,1.01,NaN,40.1,SHN
743,Niue,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46.2,NIU

In [8]:
world_data.head(70)

,Country,Fertility,GDP per capita,Life expectancy,Meat consumption,Median age,Population growth,Sex-ratio,Suicide rate,Urbanization rate,ISO-code
0,Afghanistan,4.5,2182.0,64.50,17.3,27.4,2.41,1.03,6.4,26.0,AFG
1,Albania,1.6,14866.0,NaN,NaN,32.9,0.26,0.98,5.6,62.1,ALB
2,Algeria,3.0,16091.0,76.70,18.3,28.1,1.89,1.03,3.3,73.7,DZA
3,Andorra,1.3,NaN,81.80,NaN,44.3,0.63,1.06,NaN,87.9,AND
4,Angola,5.5,6763.0,60.80,19.0,15.9,3.12,0.95,8.9,66.8,AGO
...,...,...,...,...,...,...,...,...,...,...,...
65,Georgia,2.1,13200.0,73.60,26.0,38.1,0.63,0.92,6.7,59.5,GEO
66,Germany,1.6,55306.0,81.20,82.1,47.1,0.11,0.96,9.1,77.5,DEU
67,Ghana,3.9,7343.0,63.80,9.9,21.1,2.17,0.97,8.7,57.3,GHA
68,Greece,1.4,31616.0,82.10,78.7,44.5,-0.18,0.95,3.8,79.7,GRC
69,Greenland,2.0,48182.0,71.25,63.4,33.9,-0.11,1.08,11.3,87.3,GRL

In [9]:
#Just to see the unique record count 
world_data["Country"].count()

744

In [10]:
#identify columns with missing data
print(world_data.isna().sum())

Country               0
Fertility            32
GDP per capita       42
Life expectancy      48
Meat consumption     45
Median age            9
Population growth    26
Sex-ratio             7
Suicide rate         51
Urbanization rate    15
ISO-code             15
dtype: int64

In [11]:
world_data.dropna(axis=0, how='any', inplace=True)

In [12]:
print(world_data.isna().sum())

Country              0
Fertility            0
GDP per capita       0
Life expectancy      0
Meat consumption     0
Median age           0
Population growth    0
Sex-ratio            0
Suicide rate         0
Urbanization rate    0
ISO-code             0
dtype: int64

In [13]:
world_data.dtypes

Country               object
Fertility            float64
GDP per capita       float64
Life expectancy      float64
Meat consumption     float64
Median age           float64
Population growth    float64
Sex-ratio            float64
Suicide rate         float64
Urbanization rate    float64
ISO-code              object
dtype: object

In [14]:
world_data.describe()

,Fertility,GDP per capita,Life expectancy,Meat consumption,Median age,Population growth,Sex-ratio,Suicide rate,Urbanization rate
count,674.000000,674.000000,674.000000,674.000000,674.000000,674.000000,674.000000,674.000000,674.000000
mean,4.151217,6896.478487,62.617878,18.063501,21.904451,2.229110,0.980000,9.198368,44.938427
std,1.014597,13140.005766,6.669093,22.610954,6.092731,0.754923,0.073302,3.106990,14.034458
min,1.100000,314.500000,52.800000,3.000000,15.400000,-1.600000,0.830000,0.400000,13.300000
25%,4.500000,2113.000000,58.000000,6.500000,18.900000,2.390000,0.950000,7.400000,36.500000
50%,4.500000,2574.000000,61.200000,13.000000,20.100000,2.390000,0.980000,9.250000,44.200000
75%,4.700000,2574.000000,61.200000,13.000000,20.100000,2.560000,1.000000,10.500000,44.200000
max,6.100000,112045.000000,84.500000,145.900000,47.300000,9.130000,2.560000,30.200000,100.000000

In [15]:
world_data.corr()

,Fertility,GDP per capita,Life expectancy,Meat consumption,Median age,Population growth,Sex-ratio,Suicide rate,Urbanization rate
Fertility,1.000000,-0.787563,-0.923889,-0.797031,-0.925283,0.807989,-0.112150,-0.063194,-0.726485
GDP per capita,-0.787563,1.000000,0.812119,0.847138,0.821378,-0.559320,0.235842,0.073384,0.755044
Life expectancy,-0.923889,0.812119,1.000000,0.812947,0.887917,-0.707776,0.123476,-0.012195,0.740421
Meat consumption,-0.797031,0.847138,0.812947,1.000000,0.821919,-0.633782,0.120976,0.035987,0.728796
Median age,-0.925283,0.821378,0.887917,0.821919,1.000000,-0.846432,0.029733,0.125031,0.720148
Population growth,0.807989,-0.559320,-0.707776,-0.633782,-0.846432,1.000000,0.124179,-0.198334,-0.551924
Sex-ratio,-0.112150,0.235842,0.123476,0.120976,0.029733,0.124179,1.000000,-0.184739,0.159291
Suicide rate,-0.063194,0.073384,-0.012195,0.035987,0.125031,-0.198334,-0.184739,1.000000,0.039430
Urbanization rate,-0.726485,0.755044,0.740421,0.728796,0.720148,-0.551924,0.159291,0.039430,1.000000

In [ ]:
#1st relationship. Meat consumption vs Life Expectancy
#2st relationship. Meat consumption vs Urbanization Rate
#3rd relationship. Urbanization vs