In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from scipy.stats import linregress

In [7]:
#read in all csv data files
fertility_df = pd.read_csv("Resources/Fertility.csv")
gdp_df = pd.read_csv("Resources/GDP per capita.csv")
life_expec_df = pd.read_csv("Resources/Life expectancy.csv")
happiness_df = pd.read_csv("Resources/Happiness.csv")
meat_df = pd.read_csv("Resources/Meat consumption.csv")
median_age_df = pd.read_csv("Resources/Median age.csv")
pop_growth_df = pd.read_csv("Resources/Population growth.csv")
sex_df = pd.read_csv("Resources/Sex-ratio.csv")
suicide_df = pd.read_csv("Resources/Suicide rate.csv")
urban_df = pd.read_csv("Resources/Urbanization rate.csv")

In [22]:
#merge data into one dataframe
fg_df = pd.merge(fertility_df,gdp_df, on='Country', how="outer")
fgl_df= pd.merge(fg_df, life_expec_df, on='Country', how="outer")
fglm_df = pd.merge(fgl_df, meat_df, on='Country', how="outer")
fglmm_df = pd.merge(fglm_df, median_age_df, on='Country', how="outer")
fglmmp_df = pd.merge(fglmm_df,pop_growth_df, on='Country', how="outer")
fglmmps_df = pd.merge(fglmmp_df,sex_df, on='Country', how="outer")
fglmmpss_df = pd.merge(fglmmps_df, suicide_df,on='Country', how="outer")
world_data = pd.merge(fglmmpss_df,urban_df,on='Country', how="outer")

C:\Users\ermcg\AppData\Local\Temp/ipykernel_20788/3717978508.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ISO-code_x'} in the result is deprecated and will raise a MergeError in a future version.
  fglm_df = pd.merge(fgl_df, meat_df, on='Country', how="outer")
C:\Users\ermcg\AppData\Local\Temp/ipykernel_20788/3717978508.py:7: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ISO-code_x'} in the result is deprecated and will raise a MergeError in a future version.
  fglmmp_df = pd.merge(fglmm_df,pop_growth_df, on='Country', how="outer")
C:\Users\ermcg\AppData\Local\Temp/ipykernel_20788/3717978508.py:9: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ISO-code_x'} in the result is deprecated and will raise a MergeError in a future version.
  fglmmpss_df = pd.merge(fglmmps_df, suicide_df,on='Country', how="outer")

,Country,Fertility,ISO-code_x,GDP per capita,ISO-code_y,Life expectancy,ISO-code_x,Meat consumption,ISO-code_y,Median age,ISO-code_x,Population growth,ISO-code_y,Sex-ratio,ISO-code_x,Suicide rate,ISO-code_y,Urbanization rate,ISO-code
0,Afghanistan,4.5,AFG,2182.0,AFG,64.5,AFG,17.3,AFG,27.4,AFG,2.41,AFG,1.03,AFG,6.4,AFG,26.0,AFG
1,Albania,1.6,ALB,14866.0,ALB,NaN,NaN,NaN,NaN,32.9,ALB,0.26,ALB,0.98,ALB,5.6,ALB,62.1,ALB
2,Algeria,3.0,DZA,16091.0,DZA,76.7,DZA,18.3,DZA,28.1,DZA,1.89,DZA,1.03,DZA,3.3,DZA,73.7,DZA
3,Andorra,1.3,AND,NaN,NaN,81.8,AND,NaN,NaN,44.3,AND,0.63,AND,1.06,AND,NaN,NaN,87.9,AND
4,Angola,5.5,AGO,6763.0,AGO,60.8,AGO,19.0,AGO,15.9,AGO,3.12,AGO,0.95,AGO,8.9,AGO,66.8,AGO

In [23]:
#delete duplicate columns
del world_data ["ISO-code_x"]
del world_data ["ISO-code_y"]

In [24]:
world_data.head()

,Country,Fertility,GDP per capita,Life expectancy,Meat consumption,Median age,Population growth,Sex-ratio,Suicide rate,Urbanization rate,ISO-code
0,Afghanistan,4.5,2182.0,64.5,17.3,27.4,2.41,1.03,6.4,26.0,AFG
1,Albania,1.6,14866.0,NaN,NaN,32.9,0.26,0.98,5.6,62.1,ALB
2,Algeria,3.0,16091.0,76.7,18.3,28.1,1.89,1.03,3.3,73.7,DZA
3,Andorra,1.3,NaN,81.8,NaN,44.3,0.63,1.06,NaN,87.9,AND
4,Angola,5.5,6763.0,60.8,19.0,15.9,3.12,0.95,8.9,66.8,AGO

In [14]:
happiness_df.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.8087,0.031156,7.869766,7.747634,10.639267,0.954330,71.900825,0.949172,-0.059482,0.195445,1.972317,1.285190,1.499526,0.961271,0.662317,0.159670,0.477857,2.762835
1,Denmark,Western Europe,7.6456,0.033492,7.711245,7.579955,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489,1.972317,1.326949,1.503449,0.979333,0.665040,0.242793,0.495260,2.432741
2,Switzerland,Western Europe,7.5599,0.035014,7.628528,7.491272,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728,1.972317,1.390774,1.472403,1.040533,0.628954,0.269056,0.407946,2.350267
3,Iceland,Western Europe,7.5045,0.059616,7.621347,7.387653,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710,1.972317,1.326502,1.547567,1.000843,0.661981,0.362330,0.144541,2.460688
4,Norway,Western Europe,7.4880,0.034837,7.556281,7.419719,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218,1.972317,1.424207,1.495173,1.008072,0.670201,0.287985,0.434101,2.168266